In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from sklearn.ensemble import IsolationForest
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [6]:
df = pd.read_csv("C:\\Users\\adity\\OneDrive\\Desktop\\IBM\\AB1_data.csv")

In [7]:
df.describe()

                No.          Time        Length
count  11677.000000  11677.000000  11677.000000
mean    5839.000000     34.448821    557.492935
std     3371.003881     19.705895   1058.157517
min        1.000000      0.000000     42.000000
25%     2920.000000     19.124251     60.000000
50%     5839.000000     32.360053     60.000000
75%     8758.000000     50.588549     74.000000
max    11677.000000     67.263828   8523.000000

In [8]:
df.isnull().sum().sum()

0

In [9]:
df.head()

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,HewlettP_81:05:00,Broadcast,ARP,60,Who has 172.17.18.180? Tell 172.17.18.254
1,2,0.004066,106.208.137.231,172.17.18.5,TLSv1.2,1231,Application Data
2,3,0.004626,172.17.18.5,106.208.137.231,TLSv1.2,615,"Application Data, Application Data"
3,4,0.008470,HewlettP_81:05:00,Broadcast,ARP,60,Who has 172.17.18.179? Tell 172.17.18.254
4,5,0.026256,HewlettP_81:05:00,Broadcast,ARP,60,Who has 172.17.18.182? Tell 172.17.18.254

In [10]:
df.drop(['Info'] , axis = 1,inplace=True)

In [11]:
df.drop(['No.'] , axis = 1,inplace=True)

In [12]:
df.head()

       Time             Source      Destination Protocol  Length
0  0.000000  HewlettP_81:05:00        Broadcast      ARP      60
1  0.004066    106.208.137.231      172.17.18.5  TLSv1.2    1231
2  0.004626        172.17.18.5  106.208.137.231  TLSv1.2     615
3  0.008470  HewlettP_81:05:00        Broadcast      ARP      60
4  0.026256  HewlettP_81:05:00        Broadcast      ARP      60

In [13]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [14]:
print("Shape of x:", x.shape)
print("Shape of y:", y.shape)

Shape of x: (11677, 4)
Shape of y: (11677,)

In [15]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelEncoder_X = LabelEncoder()
x[:,1] = labelEncoder_X.fit_transform(x[:,1])
x[:,2] = labelEncoder_X.fit_transform(x[:,2])
x[:,3] = labelEncoder_X.fit_transform(x[:,3])

In [16]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,2,3])
x = onehotencoder.fit_transform(x).toarray()

C:\Users\adity\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\adity\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=1)

In [18]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 3)

knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [19]:
knn.predict(X_test)[0:5]

array([  66,   60,   60, 1080,   60], dtype=int64)

In [20]:
knn.score(X_test, y_test)

0.877568493150685

In [22]:
y_pred = knn.predict(X_test)
cm_train = metrics.classification_report(y_pred , y_test)
print(cm_train)

              precision    recall  f1-score   support

          54       0.44      0.57      0.50         7
          60       1.00      1.00      1.00      1195
          62       0.00      0.00      0.00         0
          66       0.91      0.90      0.90       541
          70       0.00      0.00      0.00         0
          74       0.15      0.80      0.26         5
          78       0.45      0.45      0.45        29
          82       1.00      1.00      1.00         2
          86       0.00      0.00      0.00         0
          90       0.00      0.00      0.00         2
          91       0.00      0.00      0.00         1
          92       1.00      1.00      1.00        10
          93       0.00      0.00      0.00         0
          94       0.40      0.15      0.22        13
          97       0.00      0.00      0.00         0
         105       0.00      0.00      0.00         0
         117       0.50      0.22      0.31         9
         172       0.00      0.00      0.00         0
         180       1.00      0.33      0.50         3
         192       0.50      0.10      0.17        10
         198       0.00      0.00      0.00         0
         203       0.25      0.15      0.19        13
         211       0.00      0.00      0.00         2
         236       0.00      0.00      0.00         0
         254       0.00      0.00      0.00         0
         276       0.00      0.00      0.00         0
         297       0.00      0.00      0.00         0
         305       0.50      1.00      0.67         1
         306       0.00      0.00      0.00         2
         318       0.00      0.00      0.00         1
         328       0.00      0.00      0.00         0
         340       0.40      0.29      0.33         7
         354       0.00      0.00      0.00         0
         414       0.00      0.00      0.00         0
         463       0.00      0.00      0.00         0
         521       0.00      0.00      0.00         0
         526       0.00      0.00      0.00         6
         531       0.00      0.00      0.00         0
         538       0.00      0.00      0.00         0
         547       0.00      0.00      0.00         1
         551       0.00      0.00      0.00         0
         566       1.00      0.20      0.33         5
         571       0.00      0.00      0.00         0
         578       0.00      0.00      0.00         0
         583       0.00      0.00      0.00         0
         587       0.00      0.00      0.00         0
         590       0.00      0.00      0.00         2
         591       0.00      0.00      0.00         1
         593       0.50      0.25      0.33         4
         603       0.00      0.00      0.00         0
         611       0.00      0.00      0.00         0
         615       0.00      0.00      0.00         1
         630       1.00      1.00      1.00         3
         661       0.00      0.00      0.00         0
         699       0.00      0.00      0.00         2
         732       0.00      0.00      0.00         0
         781       0.00      0.00      0.00         0
         782       0.00      0.00      0.00         0
         796       1.00      0.40      0.57         5
         811       0.00      0.00      0.00         3
         814       0.00      0.00      0.00         0
         852       0.00      0.00      0.00         0
         886       0.00      0.00      0.00         0
         890       0.00      0.00      0.00         0
         898       0.00      0.00      0.00         1
         911       0.00      0.00      0.00         0
         923       0.00      0.00      0.00         0
         945       0.00      0.00      0.00         0
         977       0.00      0.00      0.00         0
         994       0.00      0.00      0.00         0
        1007       0.00      0.00      0.00         0
        1026       0.00      0.00      0.00         0
        1042       0.00      0.00      0.00         0
        1062       0.00      0.00      0.00         0
        1070       0.00      0.00      0.00         0
        1080       1.00      0.29      0.44         7
        1173       0.00      0.00      0.00         0
        1177       0.00      0.00      0.00         0
        1181       0.00      0.00      0.00         0
        1191       0.00      0.00      0.00         0
        1208       0.00      0.00      0.00         1
        1225       0.00      0.00      0.00         0
        1227       0.00      0.00      0.00         0
        1231       0.00      0.00      0.00         2
        1292       0.00      0.00      0.00         0
        1319       0.00      0.00      0.00         0
        1324       0.00      0.00      0.00         1
        1328       0.00      0.00      0.00         0
        1346       0.00      0.00      0.00         0
        1354       0.00      0.00      0.00         0
        1358       0.00      0.00      0.00         2
        1390       0.00      0.00      0.00         0
        1409       0.00      0.00      0.00         8
        1418       0.71      0.92      0.80        24
        1474       0.00      0.00      0.00         0
        1489       0.00      0.00      0.00         0
        1514       0.00      0.00      0.00        10
        1604       0.00      0.00      0.00         1
        1731       0.00      0.00      0.00         0
        1981       0.00      0.00      0.00         0
        2105       0.00      0.00      0.00         2
        2191       0.00      0.00      0.00         0
        2334       0.00      0.00      0.00         0
        2377       0.00      0.00      0.00         0
        2491       0.00      0.00      0.00         0
        2524       0.00      0.00      0.00         0
        2609       0.00      0.00      0.00         0
        2627       0.00      0.00      0.00         0
        2642       0.89      0.84      0.87        50
        2770       0.87      0.78      0.82       255
        2782       0.90      0.54      0.68        50
        2882       0.67      0.40      0.50         5
        2962       0.74      0.81      0.77        31
        3922       0.00      0.00      0.00         0
        4098       0.00      0.00      0.00         0
        4410       0.00      0.00      0.00         0
        4797       0.00      0.00      0.00         0
        5510       0.00      0.00      0.00         0
        6874       0.00      0.00      0.00         0

    accuracy                           0.88      2336
   macro avg       0.15      0.12      0.12      2336
weighted avg       0.90      0.88      0.89      2336

C:\Users\adity\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\adity\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [17]:
from sklearn.model_selection import cross_val_score
import numpy as np

knn_cv = KNeighborsClassifier(n_neighbors=3)
 
cv_scores = cross_val_score(knn_cv, x, y, cv=5)


print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

C:\Users\adity\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

[0.59363817 0.8167517  0.68908297 0.64698105 0.57174589]
cv_scores mean:0.6636399561444417

In [18]:
from sklearn.model_selection import GridSearchCV

knn2 = KNeighborsClassifier()


param_grid = {'n_neighbors': np.arange(1, 25)}


knn_gscv = GridSearchCV(knn2, param_grid, cv=5)


knn_gscv.fit(x, y)

C:\Users\adity\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
C:\Users\adity\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [19]:
knn_gscv.best_params_

{'n_neighbors': 23}

In [20]:
knn_gscv.best_score_

0.722017641517513